#map-canvas {
	width: 500px;
	height: 500px;
	background-color: #CCC;

}

/* Fix for google maps info window */
#map-canvas img {
  max-width: none;
}
#map-canvas label {
  width: auto;
  display: inline;
}

.slope {
	margin: 10px;
}

#go {
	margin-top: 50px;
}

.btn {
	border-radius: 30px;
}

.slope-label {
	position: relative;
	top: -30px;
	right: -320px;
}

#content {
	width:	100px;
	height: 100px;
}
