#map-canvas {
	width: 500px;
	height: 500px;
	background-color: #CCC;

}

#slope_chart,
#elevation_chart {
	width: 500px;
	height: 250px;
}

.table {
	margin-left: -120px;
}

.color-index {
	width: 40px;
	height: 20px;
	border: solid 1px;
}
#green {
	background-color: #3CB371;
}
#yellow {
	background-color: #FFFF00;
}
#blue {
	background-color: #3366FF;
}
#red {
	background-color: #FF0000;
}
#black {
	background-color: #000000;
}

/* Fix for google maps info window */
#map-canvas img {
  max-width: none;
}
#map-canvas label {
  width: auto;
  display: inline;
}

.slope {
	margin: 10px;
}

form#routes .span3 {
	padding-top: 50px;
}

form input {
	width: 480px;
}

.btn {
	border-radius: 30px;
}

.slope-label {
	position: relative;
	top: -30px;
	right: -320px;
}

#content {
	width:	100px;
	height: 100px;
}

#author {
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}

#travel-mode {
	width: 100px;
	margin-left: 10px;
	margin-top: 11px;
}

/* Landscape phones and down */
@media (max-width: 768px) { 

	#map-canvas {
		width: 100%;
		height: 350px;
	} 

	#from,
	#to {
		width: 100%;
	}

	.table {
		width: 100%;
		margin-left: 0;
	}

	#slope_chart,
	#elevation_chart {
		width: 100%;
		height: 250px;
	}

	#github {
		visibility: hidden;
	}

}

@media (min-width: 769px) and (max-width: 980px) {
#map-canvas {
		width: 100%;
		height: 350px;
	} 

	#from,
	#to {
		width: 300px;
	}

	.table {
		width: 300px;
		margin-left: 0px;
	}

	#slope_chart,
	#elevation_chart {
		width: 750px;
		height: 175px;
	}

}

@media (min-width: 981px) and (max-width: 1200px) {
#map-canvas {
		width: 500px;
		height: 350px;
	} 

	#from,
	#to {
		width: 300px;
	}

	.table {
		width: 300px;
	}

	#slope_chart,
	#elevation_chart {
		width: 470px;
		height: 175px;
	}

}
