#map-canvas {
	width: 500px;
	height: 500px;
	background-color: #CCC;

}
.color-index {
	width: 40px;
	height: 20px;
	border: solid 1px;
}
#green {
	background-color: #3CB371;
}
#yellow {
	background-color: #FFFF00;
}
#blue {
	background-color: #3366FF;
}
#red {
	background-color: #FF0000;
}
#black {
	background-color: #000000;
}

/* Fix for google maps info window */
#map-canvas img {
  max-width: none;
}
#map-canvas label {
  width: auto;
  display: inline;
}

.slope {
	margin: 10px;
}

#go {
	margin-top: 50px;
}

.btn {
	border-radius: 30px;
}

.slope-label {
	position: relative;
	top: -30px;
	right: -320px;
}

#content {
	width:	100px;
	height: 100px;
}
